<div class="header">
    <img src="../../assets/icons8-home-50.png" alt="" class="home-icon" (click)="homeButtonClicked()" 
      *ngIf="status === 'completed' || status === 'exited'">
    <span class="header-placeholder" *ngIf="status !== 'completed' && status !== 'exited'"></span>
    <span class="header-txt">{{translate('AI Barkochba Game')}}</span>
    <select class="lang-select" tabindex="-1" (change)="setLanguage($event)">
        <option value="en" [selected]="selectedLanguage === 'en'">en</option>
        <option value="hu" [selected]="selectedLanguage === 'hu'">hu</option>
    </select>
</div>

@if (status === 'not started') {
    <div class="guide-text">
      @if (selectedLanguage === 'en') {  
        <span>
            I think of a <strong>person</strong>. <br> 
            Alive or dead, real or imaginary.
            Ask <strong>yes/no questions</strong> to find out who he/she is. <br>
            If you know the answer, click on <strong>Final Guess</strong> and send me your solution.    
        </span>
      } 
      @if (selectedLanguage === 'hu') {  
        <span>
            Gondoltam egy <strong>személyre</strong>. <br> 
            Élő vagy holt, valós vagy kitalált.
            Tegyél fel <strong>igen/nem kérdéseket</strong>, hogy kitaláld, ki ő. <br>
            Ha tudod a választ, kattints a <strong>Rákérdezek</strong> gombra és küldd el a megoldásodat.    
        </span>
      }
    </div>

    <div class="home-image-container">
        <img src="../../assets/ovXAM3c.png" alt="" class="home-image">
    </div>
}

<div class="form-containers">
    
    @if (status === 'not started' || status === 'starting' || status === 'exited' || status === 'completed') {
      <div class="start-container">
        <div class="form-group-row" *ngIf="status === 'not started' || status === 'exited' || status === 'completed'">
            <button class="btn primary-button" [disabled]="showPopup" (click)="startGame()">» {{translate('Start a New Game')}}</button>
        </div>
        <div class="form-group-row" *ngIf="status === 'not started' || status === 'exited' || status === 'completed'">
          <button class="btn leaderboard-button" [disabled]="showPopup" (click)="showBoard()">{{translate('Show Leaderboard')}}</button>
        </div>
        <div class="form-group-row" *ngIf="status === 'starting'">
            <h3>{{translate('Loading the Barkochba Game')}}  ...</h3>
        </div>
      </div>
    }

    @if (status === 'question' || status === 'sent' || status === 'answered') {
      <div class="question-form-container">
        <form [formGroup]="questionForm" (ngSubmit)="submitForm()">
            <div class="form-group-row">
                <label for="question" class="form-label">{{translate('Question')}}:</label>
                <input #inputField type="text" id="question" class="form-input" formControlName="questionInput"
                    placeholder="{{translate('Enter your question (3-40 characters)')}}" value="" (click)="inputClicked()">
                
            </div>
            <div class="form-group-row">
                <span class="form-label" *ngIf="status === 'answered'">{{translate('Answer')}}:</span>
                <span class="form-answer" *ngIf="status === 'answered'">{{translate(answer)}}</span>
                <button type="submit" class="btn primary-button" [disabled]="questionForm.invalid" *ngIf="status === 'question'">{{translate('Send')}} »</button>
                <button class="btn primary-button" (click)="resetForm()" *ngIf="status === 'answered'">{{translate('Next')}} »</button>
            </div>
        </form>
        
      </div>
    }

    @if (status === 'guess' || status === 'guessed' || status === 'completed') {
      <div class="guess-form-container">
        <form [formGroup]="guessForm" (ngSubmit)="submitGuess()">
            <div class="form-group-row">
                <label for="guess" class="form-label">{{translate('Guess')}}:</label>
                <input type="text" id="guess" class="form-input" formControlName="guessInput"
                        placeholder="{{translate('Enter the name')}}" value="">  
            </div>
            <div class="form-group-row">
                <span class="form-label" *ngIf="status === 'guessed' || status === 'completed'">{{translate('Answer')}}:</span>
                <span class="form-answer guess-answer" *ngIf="status === 'guessed' || status === 'completed'">{{answer}}</span>
                <button type="submit" class="btn primary-button" [disabled]="guessForm.invalid" *ngIf="status === 'guess'">{{translate('Send')}} »</button>
                <button class="btn cancel-button" (click)="resetForm()"  *ngIf="status === 'guess'">« {{translate('back to questions')}}</button>
            </div>
        </form>
      </div>
    }

    @if (status === 'exited') {
      <div class="exit-container">
        <div class="form-group-row">
            <span class="exit-message">{{exitMsg}}</span>
        </div>
      </div>
    }

    @if ((status === 'answered' || status === 'question') && chat.length >= 2) {
      <div class="form-group-row">
        <button class="btn guess-button" (click)="loadGuessForm()">{{translate('Final Guess')}}</button>
        <span class="placeholder"></span>
        <button class="btn exit-button" (click)="showPopupConfirm()">{{translate('I give up')}}</button>
      </div>
    }

    

</div>


@if (status !== 'not started' && status !== 'starting') {
  <div class="chat-history" #chatHistory>
    <div class="msg-gallery" *ngFor="let msg of chat">
        <div class="chat-round" 
        [ngStyle]="{'background-color': msg.answer.includes('Yes') || msg.answer.includes('Igen') ? 'beige' : 'white'}">
            <span class="question-content">
                <span class="chat-label">{{translate('Question')}}:</span> <strong>{{msg.question}}</strong>
            </span>
            <span class="answer-content">
                <span class="chat-label">{{translate('Answer')}}:</span> <strong>{{translate(msg.answer)}}</strong> &nbsp; 
            </span>
        </div>
    </div>
  </div>
}

@if (status === 'starting' || status === 'sent' || status === 'guessed') {
    <app-spinner></app-spinner>
}

@if (showPopup) {
    <app-popup 
        [popupMessage]="popupMessage" 
        [type]="popupType"
        [yesLabel]="translate('Yes')" 
        [noLabel]="translate('Cancel')"
        [submitLabel]="translate('Submit')"
        [inputValue]="playerName"
        [inputPlaceholder]="translate('3-10 characters')" 
        (response)="resolvePopup($event)"
        (userInput)="submitPlayer($event)">
    </app-popup>
}



