<div class="header">
    <span class="home-icon" (click)="homeButtonClicked()">{{translate('Home')}}</span>
    <span class="header-txt">{{translate('AI Barchoba Game')}}</span>
    <select class="lang-select" tabindex="-1" (change)="setLanguage($event)">
        <option value="en" [selected]="selectedLanguage === 'en'">en</option>
        <option value="hu" [selected]="selectedLanguage === 'hu'">hu</option>
    </select>
</div>

<div class="form-containers">

    <div class="question-form-container" *ngIf="status === 'question' || status === 'sent' || status === 'answered'">
        <form [formGroup]="questionForm" (ngSubmit)="submitForm()">
            <div class="form-group-row">
                <label for="question" class="form-label">{{translate('Question')}}:</label>
                <input #inputField type="text" id="question" class="form-input" formControlName="questionInput"
                        placeholder="{{translate('Enter your question (4-40 characters)')}}" value="">
                <button type="submit" class="send-button" [disabled]="questionForm.invalid" *ngIf="status === 'question' || status === 'sent'">{{translate('Send')}} »</button>
                <button class="send-button" (click)="resetForm()" *ngIf="status === 'answered'">{{translate('Next')}} »</button>
            </div>
        </form>
        <div class="form-group-row">
            <span class="form-label">{{translate('Answer')}}:</span>
            <span class="form-answer">{{translate(answer)}}</span>
            <span class="form-placeholder"></span>
        </div>
    </div>

    <div class="guess-form-container" *ngIf="status === 'guess' || status === 'guessed' || status === 'completed'">
        <form [formGroup]="guessForm" (ngSubmit)="submitGuess()">
            <div class="form-group-row">
            <label for="guess" class="form-label">{{translate('Guess')}}:</label>
            <input type="text" id="guess" class="form-input" formControlName="guessInput"
                    placeholder="Enter the name" value="">
            <button type="submit" class="send-button" [disabled]="guessForm.invalid || status !== 'guess'">{{translate('Send')}} »</button>
            </div>
        </form>
        <div class="form-group-row">
            <span class="form-label">{{translate('Answer')}}:</span>
            <span class="form-answer">{{answer}}</span>
            <button class="cancel-button" (click)="resetForm()" [disabled]="status !== 'guess'">« {{translate('back to questions')}}</button>
        </div>
    </div>

    <div class="exit-container" *ngIf="status === 'exited'">
        <div class="form-group-row">
            <span class="exit-message">{{exitMsg}}</span>
        </div>
    </div>

    <div class="form-group-row" *ngIf="status === 'answered'">
        <button class="guess-button" (click)="loadGuessForm()" [disabled]="status !== 'answered'">{{translate('Final Guess')}}</button>
        <span class="placeholder"></span>
        <button class="exit-button" (click)="showPopupMsg()" [disabled]="status !== 'answered'">{{translate('I give up')}}</button>
    </div>

    <div class="start-container" *ngIf="status === 'not started' || status === 'starting' || status === 'exited' || status === 'completed'">
        <div class="form-group-row" *ngIf="status === 'not started' || status === 'exited' || status === 'completed'">
            <button class="send-button" (click)="startGame()">{{translate('Start a New Game')}}</button>
        </div>
        <div class="form-group-row" *ngIf="status === 'starting'">
            <h3>{{translate('Loading the Barchoba Game')}}  ...</h3>
        </div>
    </div>    
</div>

<div class="home-image-container" *ngIf="status === 'not started'">
    <img src="../../assets/ovXAM3c.png" alt="" class="home-image">
</div>

<div class="chat-history" #chatHistory *ngIf="status !== 'not started' && status !== 'starting'">
    <div class="msg-gallery" *ngFor="let msg of chat">
        <div class="chat-round">
            <span class="question-content">
                <span class="chat-label">{{translate('Question')}}:</span> <strong>{{msg.question}}</strong>
            </span>
            <span class="answer-content">
                <span class="chat-label">{{translate('Answer')}}:</span> <strong>{{translate(msg.answer)}}</strong> &nbsp; 
            </span>
        </div>
    </div>
</div>

@if (status === 'starting' || status === 'sent' || status === 'guessed') {
    <app-spinner></app-spinner>
}

@if (showPopup) {
    <app-popup 
        [popupMessage]="popupMessage" 
        [type]="'confirm'"
        [yesLabel]="translate('Yes')" 
        [noLabel]="translate('No')" 
        (response)="resolvePopup($event)">
    </app-popup>
}


