// Variables for colors and spacing
$primary-color: #256189;
$secondary-color: gray;
$background-color: whitesmoke;
$text-color: darkslategray;
$border-radius: 6px;
$spacing-unit: 12px;

// Root styles
:root {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

$header-color: #256189;

.header {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    background-color: $header-color;
    color: white;
    margin: 0;
    padding: 0 8px;

    .home-icon {
        width: 25px;
        cursor: pointer;
        color: white;
    }

    .header-placeholder {
        width: 25px;
    }

    .header-txt {
        margin-left: 15px;
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        flex: 1;
    }

    .lang-select {
        width: 40px;
        margin-right: 20px;
        color: black;
        height: 25px;
        background-color: whitesmoke;
        border-radius: 4px;
    }
}


.board-subtitle {
    position: fixed;
    top: 40px;
    height: 45px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-weight: bold;
    color: $primary-color;
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
}

// Board container styles
.board-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: $spacing-unit * 0.75;
  padding: $spacing-unit;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba($secondary-color, 0.1);
}

// Info label
.info-label {
    color: darkslategray;
    font-size: 15px;
    text-align: center;
    background-color: white;
}

// Board header styles
.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    color: white;
    padding: $spacing-unit;
    border-radius: $border-radius;
    font-weight: bold;
    height: 20px;
}
  
// Header player and count styles
.header-player {
    margin-left: 28px;
    font-size: 16px;
    width: 30%;
    min-width: 100px;
}
.header-solution {
    font-size: 16px;
    text-align: left;
    width: calc(70% - 110px);
}
.header-count {
    font-size: 16px;
    width: 30px;
    text-align: right;
}
.header-duration {
    font-size: 16px;
    width: 50px;
    text-align: right;
}

// Board item styles
.board-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: $spacing-unit;
  padding-left: 0;
  height: 25px;
  border-radius: $border-radius;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.2s;

  &:hover {
    background-color: lightcyan;
  }
}

// Player name styles

.board-position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: white;
    size: 15px;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.board-player {
    font-size: 15px;
    font-weight: 700;
    color: $primary-color;
    width: 30%;
    min-width: 100px;
}

.board-solution {
  font-size: 14px;
  font-weight: 500;
  color: $text-color;
  text-align: left;
  width: calc(70% - 110px);
}

.board-count {
  font-size: 16px;
  font-weight: 700;
  color: $primary-color;
  width: 30px;
  text-align: right;
}

.board-duration {
    font-size: 14px;
    font-weight: normal;
    color: gray;
    width: 50px;
    max-width: 50px;
    text-align: right;
  }

.highlighted {
    background-color: beige;
}
