<div class="modal-container">
    <div class="popup-window">
        <div class="popup-text">
            <span>{{popupMessage}}</span>
        </div>

        @if (type === 'confirm') {
            <div class="form-group-row">
                <button class="send-button" (click)="yesClicked()">{{yesLabel}}</button>
                <button class="cancel-button" (click)="noClicked()">{{noLabel}}</button>
            </div>
        }
        
        @if (type === 'inform') {
            <div class="form-group-row">
                <button class="send-button" (click)="okClicked()">{{okLabel}}</button>
            </div>
        }
    </div>
</div>
