/* You can add global styles to this file, and also import other style files */

// setting colors
$primary-bckcolor: #256189;
$primary-hover-bckcolor: #194f74;


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
} 

.btn {
    width: 160px;
    min-width: 100px;
    height: 35px;
    padding: 0;
    border-radius: 4px;
    border: solid;
    border-width: 1px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    &:disabled {
        border: none;
        cursor: auto;
        box-shadow: none;

        &:hover {
            border: none;
            cursor: auto;
        }
    }
}

.primary-button {
    border-color: $primary-bckcolor;
    background-color: $primary-bckcolor;
    color: white;

    &:disabled {
        background-color: #c3c3c3;

        &:hover {
            background-color: #c3c3c3;
        }
    }

    &:hover {
        background-color: $primary-hover-bckcolor;
    }
}

.cancel-button {
    border-color: gray;
    background-color: gray;
    color: white;

    &:disabled {
        background-color: #c3c3c3;

        &:hover {
            background-color: #c3c3c3;
        }
    }

    &:hover {
        background-color: darkslategray;
        border-color: darkslategray;
    }
}

.guess-button {
    border-color: darkgreen;
    background-color: white;
    color: darkgreen;

    &:disabled {
        background-color: #c3c3c3;

        &:hover {
            background-color: #c3c3c3;
            color: white;
        }
    }
    &:hover {
        background-color: darkgreen;
        color: white;
    }
}

.exit-button {
    border-color: darkred;
    background-color: white;
    color: darkred;

    &:disabled {
        background-color: #c3c3c3;
        color: white;

        &:hover {
            background-color: #c3c3c3;
            color: white;
        }
    }
    &:hover {
        background-color: red;
        color: white;
    }
}

.leaderboard-button {
    border-color: gray;
    background-color: white;
    color: darkslategray;

    &:disabled {
        background-color: #c3c3c3;

        &:hover {
            background-color: #c3c3c3;
        }
    }

    &:hover {
        background-color: gray;
        border-color: gray;
        color: white
    }
}

.tooltip-container {
    position: absolute;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    z-index: 1000;
    white-space: nowrap;
    transition: opacity 0.2s ease-in-out;
  }



